/* || Variables */
:root {
  /* Colors */

  /* Primary */

  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);

  /* Neutral */

  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 95vh;
  max-width: 45rem;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 2.5rem;
  background-color: white;
  z-index: 4;
  overflow-y: auto;
}


/* Scrollbar stylings */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal.active {
  display: block;
}

.close-modal {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}

.modal_pledge {
  border: 1px solid var(--Dark-gray);
  border-radius: 10px;
  padding: 1.5rem;
}

.pledge-radio {
  width: 2.5rem;
  height: 2.5rem;
}

.pledge_amount {
  color: var(--Moderate-cyan);
}

.pledge_input_sec {
    opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.pledge_top.active + .pledge_input_sec{
    opacity: 1;
    height: initial;
    padding-top: 1rem;
    border-top: 1px solid var(--Dark-gray);
}

.pledge_top.active + .pledge_input_sec .pledge_input{
    position: relative;
    border-radius: 50px;
    border: 1px solid var(--Dark-gray);
    padding: .5rem 1rem;
    padding-left: 2rem;
    width: 6rem;
    font-weight: bold;
}

.dollar-icon{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-weight: bold;
    color: var(--Dark-gray);
    z-index: 2;
}